.user-cart__wrapper {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.product-cart__content {
  display: flex;
  justify-content: space-between;
}
.product-cart__list {
  width: 68%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.product-cart__item {
  margin-top: 1rem;
}
.product-cart__description {
  display: flex;
  margin-top: 1rem;
}

.product-cart__image {
  width: 12.5rem;
  height: 12.5rem;
}

.product-cart__image img {
  width: 85%;
  height: 85%;
  object-fit: cover;
  border-radius: 8px;
}
.product-cart__info {
  margin-top: 0.6rem;
}
.product-cart__sum {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-cart_qun {
  display: flex;
  justify-content: space-between;
}
.product-cart_qun-content {
  display: flex;
  width: 45%;
  justify-content: space-between;
}

.product-cart__delete-item {
  background-color: rgb(255, 255, 255);
  display: flex;
  border: none;
  outline: none;
  align-items: center;
  cursor: pointer;
}

.product-cart__delete-item img {
  width: 1.2rem;
}

.product-purchase {
  margin: 0;
}

/*Shopping cart sumary*/
.shopping-cart__sum {
  margin-top: 1rem;
  width: 25%;
  height: 17rem;
}
.order-btn {
  justify-content: center;
  display: flex;
}

.order-now {
  margin: 0;
  width: 100%;
}

.loadingSpinerPosition {
  display: flex;
  justify-content: center;
  width: 26%;
  padding-top: 6rem;
  height: 20vh;
}
