.user-profile__wrapper {
  margin: 1rem auto;
  padding: 0;
  width: 90%;
  max-width: 65rem;
  display: flex;
  justify-content: space-between;
}

.user-profile__manage {
  width: 21%;
}
.user-profile__manage h3 {
  text-align: center;
  margin: 0;
}
.info {
  display: flex;
}
.user-profile__info {
  width: 77%;
}

.user-profile__profile-name {
  display: flex;
  width: 40%;
  margin: 1rem 0 0 1rem;
}

.avatar-size {
  width: 5rem;
  height: 5rem;
}

.user-profile__title {
  margin: 1rem 0 0 1rem;
}

.user-profile__profile-info {
  display: inherit;
  margin-top: 1rem;
}

.user-profile__profile-info__title {
  display: inherit;
  flex-direction: column;
  justify-content: center;
}
.user-profile__profile-info__content {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
label {
  font-weight: bold;
  margin: 0.8rem 0 0.8rem 1.5rem;
}

.user-profile__profile-info__content p {
  margin: 0.8rem 0 0.8rem 0;
}

.user-profile__footer {
  margin-top: 3rem;
}
.loadingSpinerPosion {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20vh;
}
