.products-list__table {
  list-style: none;
  margin: 1rem auto;
  padding: 0;
  width: 90%;
  max-width: 65rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  display: table-header-group;
  border-top: 1px solid rgb(160, 160, 160);
  border-bottom: 2px solid rgb(214, 214, 214);
  vertical-align: middle;
  border-color: inherit;
  line-height: 3rem;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  border-top: 1px solid rgb(214, 214, 214);
  height: 3.5rem;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
td {
  display: table-cell;
  vertical-align: inherit;
}

tbody tr {
  transition-duration: 0.2s;
}

tbody tr:hover {
  background-color: rgb(236, 236, 236);
}

@media (max-width: 768px) {
  table {
  }
  tbody {
    display: none;
  }
}
