.product-form {
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white;
}
.imagePreview {
  width: 8rem;
  height: 8rem;
  border-radius: 5%;
}

.imagePreview img {
  border-radius: 5%;
}
.btnProductSubmit {
  margin-top: 1rem;
}
